* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.container {
    width: 80%;
    min-width: 400px;
    max-width: 1200px;

    height: 300px;
    background-color: chartreuse;
}
header {
    background-color: red;
    height: 100px;
}
main {
    background-color: cyan;
    height: 200px;
}
header>div {
    background-color: yellow;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}
header>nav {
    background-color: orange;
    height: 40px;
}
header>div>img {
    margin: 5px;
}
header>div>h1 {
    /* vertically align text */
    line-height: 60px;
}

header>nav>ul {
    display: flex;
    justify-content: flex-start;
}
header>nav>ul>li {
    margin: 0 5px;
}
header>nav>ul>li>a {
    line-height: 40px;
}