* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.container {
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
}
